{% extends 'base.html' %}

{% block title %} About {% endblock %}


{% block body %} 

<h2>About</h2>

<hr>
<br>
<p>
    This is a simple application for creating, reading, updating and deleting recipes. Individuals without an account may only view the about page. To get an account, an administrator must create an account for you
</p>
<p> 
    Those with "user" accounts can only view recipes and edit their account information. In addition to this, "Contributor" accounts may also create recipes. Finally "admin" accounts have access to edit and delete recipes as well as other users. 
</p>

<p>
    Recipe-Tree was created by Marcus Porter in 2020 for a Software Design class at the University of Iowa. Thank you for visiting this website, have a wonderful day!

</p>


{% endblock %}