{% extends 'base.html' %}

{% block title %} My Recipes {% endblock %}


{% block body %} 

<h2>Welcome to Recipe Tree!</h2>

<hr>
<p>At Recipe tree we want you to be able to create and share your recipes with our community. To get started, an administrator will have to create an account for you. Without an account you will only be able to view the "About" page.</p>
<p>Once you have an account please accesses this site by logging in below or use the navigation bar above to explore the site. Have a wonderful day!</p>

<br><br>
<a href= "{{ url_for('login') }}">login</a>
<br><br>

{% endblock %}