{% extends 'base.html' %}

{% block title %} Edit User {% endblock %}


{% block body %} 

<h2>Edit My Account</h2>
  <hr>
  {% if user %}
  <form method="POST"  action="{{ url_for('update_myaccount', user_id=user['_id']) }}">
      <div class="col-md-4 form-group">
         <label  for="first_name"> First Name: </label>  
          
        <input class="form-control" type="text" id="first_name" name="first_name" required autofocus value="{{ user['first_name'] }}">
      </div>
      <div class="col-md-4 form-group">
         <label  for="last_name"> Last Name: </label> 
         <br/>     
        <input class="form-control" type="text" id="last_name" name="last_name" required value="{{ user['last_name'] }}" >
      </div>
      <div class="col-md-4 form-group">
         <label  for="email"> Email: </label>   
         <br/>   
        <input class="form-control" type="text" id="email" name="email" required value="{{ user['email'] }}">
      </div>
      <div class="col-md-4 form-group">
         <label  for="password"> Password: </label> 
         <br/>     
        <input class="form-control" type="text" id="password" name="password" required value="{{ user['password'] }}">
      </div>
        <div class="col-md-4 form-group">
         <label  for="confirm_password"> Confirm password: </label>
         <br/>      
          <input class="form-control" type="text" id="confirm_password" name="confirm_password" required value="{{ user['password'] }}">
      </div>
      <div class="col-md-4 form-group">
         <label  for="role"> Role: </label> 
         <br/>  
            <input class="form-control" type="text" id="role" name="role" value="{{ user['role'] }}" readonly>

      
    </div>
      <div class="col-md-4 form-group">
         <label  for="date_added"> Date Added: </label>  
         <br/>    
            <input class="form-control" type="text" id="date_added" name="date_added" required value="{{ user['date_added'] }}" readonly>
             
      </div>
      <div class="col-md-4 form-group">
            <label  for="date_modified"> Date Modified: </label>   
            <br/>   
                <input class="form-control" type="text" id="date_modified" name="date_modified" required value="{{ user['date_modified'] }}" readonly>

        
        </div>
        <br/>
        <div class="col-md-4 form-group">
              <input  type="submit" class="btn btn-success" value="Update My Account">
      </div>
  </form>
  
{% endif %}

{% endblock %}