{% extends 'base.html' %}

{% block title %} User Administration {% endblock %}


{% block body %} 
<h2>Admin Users Page</h2>
<br/>
<h3>Current Users</h3>
{% if all_users %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Date Added</th>
                <th scope="col">Date Modified</th>
            </tr>
        </thead>

        <tbody>
            {% for row in all_users %}
            <tr>
                
                <td> {{ row['first_name'] }}</td>
                <td> {{ row['last_name'] }}</td>
                <td> {{ row['email'] }}</td>
                <td> {{ row['role'] }}</td>
                <td> {{ row['date_added'] }}</td>
                <td> {{ row['date_modified'] }}</td>
            
                

                <td><form action="{{ url_for('admin_edit_user', user_id=row['_id']) }}" method="POST">
                    <input type="submit" value="edit" class="btn btn-warning" />
                </form>    </td>

                <td><form action="{{ url_for('admin_delete_user', user_id=row['_id']) }}" method="POST">
                    <input type="submit" value="Delete"  class="btn btn-danger"/>
                </form>    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}




<hr>

<h3>Create New Account</h3>
  <hr>
  <form method="POST" action="/admin/add-user">

    <div class="col-md-4 form-group"> <label  for="first_name"> First Name: </label>    
    <input type="text" id="first_name" name="first_name" class="form-control" required  ></div>

    <div class="col-md-4 form-group"> <label  for="last_name"> Last Name: </label>    
    <input type="text" id="last_name" name="last_name" class="form-control" required ></div>

    <div class="col-md-4 form-group> <label  for="email"> Email: </label>    
    <input type="text" id="email" name="email" class="form-control" required ></div>

    <div class="col-md-4 form-group><label  for="password"> Password: </label>    
    <input type="text" id="password" name="password" class="form-control"  required ></div>

    <div class="col-md-4 form-group> <label  for="confirm_password"> Confirm password: </label>    
    <input type="text" id="confirm_password" name="confirm_password"  class="form-control" required ></div>
    <div class="col-md-4 form-group>
    <label for="role">Role :</label>
    <select name="role" class="form-control" required>
        <option value="" selected disabled hidden> -- Choose role -- </option>
        {% for role in all_roles %}
       <option value="{{ role['role_name'] }}">{{ role['role_name'] }}</option>
    {% endfor %}
    </select>
</div>
    <div class="col-md-4 form-group>  
<input type="submit" class="btn btn-success" value="Add User"></div>

</form>
  <hr>

  <br>
  

{% endblock %}